# Series对象
- Series是一个一维的类似的数组对象，包含一个数组的数据（任何NumPy的数据类型）和一个与数组关联的数据标签，被叫做索引 。

## Series对象的创建

如果不给数据指定索引，一个包含整数0到 N-1 （这里N是数据的长度）的默认索引被创建。 你可以分别的通过它的values 和index 属性来获取Series的数组表示和索引对象：

In [2]:
import numpy as np
import pandas as pd

obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

通常，需要创建一个带有索引来确定每一个数据点的Series：

In [5]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [7]:
obj.index

Index(['d', 'b', 'a', 'c'], dtype='object')

如果你有一些数据在一个Python字典中，你可以通过传递字典来从这些数据创建一个Series，只传递一个字典的时候，结果中的index将是排序后的字典的值：

In [10]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj2 = pd.Series(sdata)
obj2

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

在下面这种情况， sdata 中的3个值被放在了合适的位置，但因为没有发现对应于‘California’的值，就出现了NaN （不是一个数），这在pandas中被用来标记数据缺失或NA 值。我使用“missing”或“NA”来表示数度丢失。
Series的字典也以嵌套的字典的字典格式的方式来处理

In [13]:
index = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=index)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

series对象转换为字典、list

In [19]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
dict(obj2)

{'a': -5, 'b': 7, 'c': 3, 'd': 4}

In [20]:
list(obj2)

[4, 7, -5, 3]

In [23]:
list(obj2.items())

[('d', 4), ('b', 7), ('a', -5), ('c', 3)]

pandas中用函数isnull 和notnull 来检测数据丢失

In [25]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [26]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [29]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

## Series对象的操作

### Series对象迭代

与正规的NumPy数组相比，你可以使用索引里的值来选择一个单一值或一个值集：

In [30]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [31]:
obj2['a']

-5

NumPy数组操作，例如通过一个布尔数组过滤，纯量乘法，使用数学函数，将会保持索引和值间的关联：

In [32]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [33]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [34]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [36]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

Series对象本身和它的索引都有一个**name**属性，它和pandas的其它一些关键功能整合在一起：

In [43]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [38]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

### Series索引更改

pandas对象（series和dataframe）的index是可以修改的，这和python的dict有区别。可以通过 in 来判断是否存在某个索引

In [45]:
obj.index = range(len(obj))
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [56]:
obj = pd.Series([4, 1, -5, 3], index=['d', 'b', 'a', 'c'])
'b' in obj

True

### Series值替换

replace替换的是value

In [60]:
k = obj.replace(4, 11)
k

d    11
b     1
a    -5
c     3
dtype: int64

In [61]:
obj.replace({4:12, 3:10})

d    12
b     1
a    -5
c    10
dtype: int64

### Series列分割转换成dataframe

In [62]:
s = pd.Series(['15,15', '17,17', '36,36', '24,24', '29,29'])
print(type(s))
print(s)
s = s.apply(lambda x: pd.Series(x.split(',')))
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    15,15
1    17,17
2    36,36
3    24,24
4    29,29
dtype: object
<class 'pandas.core.frame.DataFrame'>
    0   1
0  15  15
1  17  17
2  36  36
3  24  24
4  29  29

Help on method apply in module pandas.core.frame:

apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds) method of pandas.core.frame.DataFrame instance
    Applies function along input axis of DataFrame.

    Objects passed to functions are Series objects having index
    either the DataFrame's index (axis=0) or the columns (axis=1).
    Return type depends on whether passed function aggregates, or the
    reduce argument if the DataFrame is empty.

    Parameters
    ----------
    func : function
        Function to apply to each column/row
    axis : {0 or 'index', 1 or 'columns'}, default 0
        * 0 or 'index': apply function to each column
        * 1 or 'columns': apply function to each row
    broadcast : boolean, default False
        For aggregation functions, return object of same size with values
        propagated
    raw : boolean, default False
        If False, convert each row or column into a Series. If raw=True the
        passed function will receive ndarray objects instead. If you are
        just applying a NumPy reduction function this will achieve much
        better performance
    reduce : boolean or None, default None
        Try to apply reduction procedures. If the DataFrame is empty,
        apply will use reduce to determine whether the result should be a
        Series or a DataFrame. If reduce is None (the default), apply's
        return value will be guessed by calling func an empty Series (note:
        while guessing, exceptions raised by func will be ignored). If
        reduce is True a Series will always be returned, and if False a
        DataFrame will always be returned.
    args : tuple
        Positional arguments to pass to function in addition to the
        array/series
    Additional keyword arguments will be passed as keywords to the function

    Notes
    -----
    In the current implementation apply calls func twice on the
    first column/row to decide whether it can take a fast or slow
    code path. This can lead to unexpected behavior if func has
    side-effects, as they will take effect twice for the first
    column/row.

    Examples
    --------
    >>> df.apply(numpy.sqrt) # returns DataFrame
    >>> df.apply(numpy.sum, axis=0) # equiv to df.sum(0)
    >>> df.apply(numpy.sum, axis=1) # equiv to df.sum(1)

    See also
    --------
    DataFrame.applymap: For elementwise operations
    DataFrame.aggregate: only perform aggregating type operations
    DataFrame.transform: only perform transformating type operations

    Returns
    -------
    applied : Series or DataFrame